*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #efefef;
  color: #444
}
#grid-wrapper {
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template: repeat(10, 1fr) / 20% 1fr;
  grid-gap: 1em;
}
.item {
  background: greenyellow;
}
.header {
  grid-area: 1 / 1 / span 2 / -1;
}
.nav {
  grid-area: 3 / 1 / span 7 / span 1;
}
.article {
  grid-area: 3 / 2 / span 5 / -1;
}
.ads {
  grid-area: 8 / 2 / span 2 / -1;
}
.footer {
  grid-area: 10 / 1 / -1 / -1;
}