@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans&display=swap');

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/

*, *:after, *:before {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cdcdcd;
  position: relative;
}
.item {
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  height: 100px;
  flex: 1;

}
.item2 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  position: absolute;
  padding: .2em 0;

}
.iconWrapper {
  margin-left: auto;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;

}
a:hover {
  color: blue;
  background: blue;
}
/*main*/
main {
  height: calc(100vh - 200px);
  width: 100%;
  border: 2px solid green;
}
.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.li {
  flex: 1 1 100px;
  width: 200px;
  border: 2px solid red;
}
.li4 {
  display: flex;
}
.div1 {
  flex: 2;
  background: pink;
}
.div2 {
  flex: 1;
  background: teal;
}
/*footer*/
footer {
  font-family: 'Work Sans', sans-serif;
  height: 100px;
}
.sectionTop {

  background-image: url("./img/flex-nav/subtle_stripes.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}
.bt {
  flex: 1;
  width: 20%;
}
form {
  display: flex;
}
.f1 {
  flex: 2;

}
.f2 {
  flex: 1;

}
#latter, #design {
  font-weight: lighter;
}
input {
  border-radius: 12px;
  padding: 3px;
  outline: none;
  width: 100%;

}
/*input:focus {*/
/*  border: none;*/
/*}*/
button {
  padding: 5px;
  border-radius: 12px;
  background: orange;
  color: white;
  width: 100%;
}
.sectionBottom {
  background: rgba(109, 109, 109, 0.87);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.ulFooter {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.liFooter {
  margin: 0 5px;
}
