nav {
  background: rgb(43,148,158);
  background: radial-gradient(circle, rgba(43,148,158,1) 0%, rgba(0,13,14,1) 100%);
}
#main-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*turn that off*/
  background: black;

}
#keys {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.neon {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  font-size: 24vh;
  /*display: none;*/
}

#announcement {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
