*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  padding: 5%;
  font-family: arial, serif;

}
li {
  list-style: none;
}
.hidden-on-desktop {
  width: 100%;
  background: lightcyan;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.hidden-on-desktop > a, a:active, a:visited {
  text-decoration: none;
  color: black
}
h1 {
  padding: 20px;
  text-align: center;
  font-size: 7vh;
}
.nav-links > li {
  background: rgba(168, 179, 190, 0.59);
  padding: 2%;
  text-align: center;
  margin: 10px;
}
img {
  width: 100%;
  height: 28vh;
  padding: 2%;
}
section {
  padding: 2%;
  margin-bottom: 7%;
}
section:nth-of-type(2){
  font-style: italic;
}
section > h2 {
  margin-bottom: 2%;
}
footer {
  padding: 10px;
  color: #A8B3BE;
  display: flex;
  justify-content: space-between;
}
footer > p {
  font-size: 1.4vh;
}
#social-media-links {
  display: flex;
  justify-content: space-evenly;
  float: right;
  width: 15vw;
}
a > i {
  color: #A8B3BE;
}

@media screen and (min-width: 768px) {

  .hidden-on-desktop {
    display: none;
  }
  nav, h1 {
   width: 49%;
   display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0;
    margin: 0;
 }
  h1 {
    justify-content: flex-start;
  }
  nav {
    justify-content: flex-end;
  }
  nav > ul {
    display: flex;
    padding: 0;
    margin: 0;

  }
  .nav-links > li, a, a:visited, a:active {
    background: none;
    color: blue
  }
  img {
    height: 50vh;
    padding: 0;
    margin: 0;
  }
  section {
    height : 40vh;
    padding: 0;
    margin: 5vh 0 10vh 0;
    vertical-align: top;
  }
  section:nth-of-type(1) {
    display: inline-block;
    width: 60%;
  }
  section:nth-of-type(2){
    display: inline-block;
    width: calc(100% - 71%);
    margin-left: 8%;
  }
}