*, *:before, *:after {
  margin: 0;
  paddiing: 0;
  box-sizing: border-box;
}





/*smaller desktops and ipad pro*/
@media screen and (max-width: 1024px){

}

/*mobile devices*/
@media screen and (max-width: 992
px){

}