@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
/*font-family: 'Merienda One', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
* {
    color: grey;
    font-family: 'Open Sans', sans-serif;
}
body {
    /*background: #808080;*/
    background-image: url("img/welcome/sun-pattern.png");
}
.i {
    width: 300px;
    height: 300px;

}
nav {
    height: 30vh;
    width: 100%;
    background-image: url("img/welcome/photo-1558841710-2765c350df10.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navWrapper {
    background: #CADBC8;
    text-align: center;
    height: 50%;
    padding: 10px;
    width: 40vw;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.fancy-header {
    color: #5a6062; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: #7d877b;
    text-decoration: underline;
}
#top2 {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    padding: 40px

}
#middle {
    text-align: center;
}
#middleWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
ul {
    list-style: square outside none;

}
#bottom {
    text-align: center;
}
table {
    font-size: 2em;
    margin: auto;
}
tr {
    border: 2px solid #E2D4B7;
}
td {
    padding: 10px;
    border: 2px solid #E2D4B7;
    background: rgba(255, 244, 213, 0.6);
    color: #968d79
}
th {
    font-weight: 800;
}
a:hover, a:visited, a:active {
    color: yellow;
}
#veryBottom {
    width: 100%;
    margin-top: 3em;
    text-align: center;
}
#veryBottomWrapper {
    width: 50%;
    margin: auto;
    background: #efefef;
    padding: 30px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#form {
    height: 30vh;
    width: 100%;
    text-align: left;
}
#formHead {
    font-family: 'Merienda One', cursive;
}
.label {
    font-weight: 600;
    font-size: 3vh;
}
.s {
    width: 49%;
    height: 5em;
    float: left;
}
input {
    font-size: 2vh;
}
.t {
   width: 20vw

}
.select {
    font-size: 2vh;
}
#s{
    position: relative;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 140px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
    background: rgb(196, 213, 195);
    color: white;
    font-weight: 900;
    font-size: 2vh;
    margin-left: 29px;
}
#s:hover {
    -webkit-box-shadow: 0 7px 4px #777;
    -moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
}





@media (max-width: 1000px) {
    #p {
        display: none;
    }
    .label {
        font-size: 2vh;
    }
}