#sky {
  height: 400px;
  width: 100vw;
  overflow: scroll;
  background-image: url("./img/weather_map/sky.jpeg");
  background-size: cover;
  background-position: center;


}
#sky-card-wrapper {
  width: 100vw;
  display: flex;
}

@media screen and (min-width: 768px) {
  #sky-card-wrapper {
    height: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    justify-content: space-evenly;
    align-items: center;
  }
}