* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, serif;
    font-size: small;

}
#bodyWrapper {
    width: 70%;
    margin: auto;
}
input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}
input:focus {
    border-color: blue;
}
nav {
    padding: 20px;
}
#nav {
    display: flex;
    float: right;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 20px;
}
#aIcon {
    width: 30px;
    height: 30px;
}
#caps {
    font-weight: 400;
    font-family: "Times New Roman", serif;
}
#pHead {
    font-size: 1vh;
}
#mainForm {
    display: flex;
    flex-direction: column;
}
#propertyAddress {
    width: 80%;
}
.top {
    margin-top: 10px;
}
.tab {
    margin-left: 10%;
}
.even {
     width: 15%;
 }
#name {
    width: 39%;
}
#applicantsName {
    width: 65%;
}
.disclosure {
    font-size: 9px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0;
    margin-left: 30px;

}
#formerLastName {
    width: 52%
}







#s {
    border: 2px solid yellow;
}
